<div class="container text-center">
    <h1>ABOUT</h1>
    <p>Nerdmatch is a synergy optimization platform. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, laudantium, velit sunt quas eveniet tempora et atque voluptatum omnis illo earum veritatis esse consequuntur excepturi facere. Animi adipisci magni mollitia.</p>
</div>